@charset "utf-8";

button[class*=btn-] {
    outline: none;
    border-radius: 5px;

    i {
        @include mar(mr 6);
    }
}

.btn {
    height: 40px;
    font-size: rem(15px);
    font-weight: 700;
    color: var(--text-color4);
    border-width: 1px;
    border-style: solid;
    @include pad(pl 20, pr 20);
    @include box-shadow(2px 2.2px 5px 0 var(--btn-shadow));
    transition: color .25s, background-color .25s;

    &:active {
        color: rgba(var(--RGB_text-color1), .7);
        @include box-shadow(.7px .7px 2px 0 var(--btn-shadow));
    }

    &:disabled {
        color: rgba(var(--RGB_text-color1), .3);
        background-color: var(--btn-disable-color) !important;
        box-shadow: none;
        cursor: auto;
    }

    &.lg {
        height: 50px;
    }
}

.btn-tb {
    height: 32px;
    font-size: rem(12px);
    font-weight: 700;
    @include pad(pl 15, pr 15);
    border-radius: 4px;
    transition: color .25s, background-color .25s;

    i {
        @include mar(mr 4);
    }

    &:active {
        color: rgba(var(--RGB_text-color1), .7);
        @include box-shadow(.7px .7px 2px 0 var(--btn-shadow));
    }

    &:disabled {
        color: rgba(var(--RGB_text-color1), .3);
        border-color: var(--btn-disable-color) !important;
        background-color: var(--btn-disable-color) !important;
        box-shadow: none;
        cursor: auto;
    }
}

/* btn 클래스 리스트 */
$btns: (
    main : 'main',
    sub1 : 'sub-btn1',
    sub2 : 'sub-btn2',
    cancel : 'gray',
    delete : 'red'
);

/* 
    btn 생성 mixin.
    ex) 
    btn-main {
        color : var(--text-color1);
        bacground-color: var(--main-color);
        &:active {
            background-color: var(--main-color-active);
        }
    }
*/
@mixin btnsGenerate($btns : ()) {
    @each $key, $value in $btns {
        .btn-#{$key} {
            border-color: var(--#{$value}-color);
            background-color: var(--#{$value}-color);
            &:active {
                border-color: rgba(var(--RGB-#{$value}-color), .5);
                background-color: rgba(var(--RGB-#{$value}-color), .5);
            }
        }

        .btn-tb.btn-#{$key} {
            border-color: rgba(var(--RGB-#{$value}-color), .8);
            background-color: rgba(var(--RGB-#{$value}-color), .8);
            &:active {
                border-color: rgba(var(--RGB-#{$value}-color), .4);
                background-color: rgba(var(--RGB-#{$value}-color), .4);
            }
        }
    }
}

@include btnsGenerate($btns);

.btn-box {
    display:flex;

    &.align-r {
        justify-content: flex-end;
    }

    &.align-l {
        justify-content: flex-start;
    }

    &.align-c {
        justify-content: center;
    }
}
