@charset "utf-8";

$height-default: 40px;
$height-table: 36px;

.input-box {
    width: 100%;
    max-width: 280px;
    height: $height-default;
    border-radius: 4px;
    position: relative;

    input {
        font-size: rem(15px);
        font-weight: 400;
        color: var(--text-color1);
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: var(--content-bg-color);
        @include border('', 1px solid var(--border-color));
        outline: none;
        @include mar-pad(pl 17, pr 30);
        transition: border .25s;

        &:focus {
            border-color: var(--main-color);
        }

        &:placeholder {
            color: var(--gray-color);
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
            -webkit-box-shadow: 0 0 0px 1000px var(--content-bg-color) inset !important;
            -webkit-text-fill-color: var(--text-color1);
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .del {
        display: flex;
        align-items: center;
        @include position(absolute, $top: 0, $right: 0, $bottom: 0);
        @include mar-pad(pl 10, pr 10);
        outline: none;
        cursor: pointer;

        &:after {
            content: '\f00d';
            font-size: rem(14.54px);
            color: var(--text-color3);
            @extend .fontawesomeSolid;
        }
    }

    .text {
        display: flex;
        align-items: center;
        @include position(absolute, $top: 0, $right: 0, $bottom: 0);
        @include mar-pad(pl 10, pr 10);
        font-size: rem(15px);
        font-weight: 400;
        color: var(--text-color1);
    }

    &.invalid>input {
        border-color: var(--red-color);
    }

    &.disabled {
        >input {
            background-color: rgba(var(--RGB-content-bg-color), .5);
            @include border('', 1px solid rgba(var(--RGB-border-color), .5));
        }

        >.del {
            cursor: default;
        }
    }

    &.pull {
        max-width: 100%;
    }

    &.search .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: $height-default;
        @include position(absolute, $top: 0, $right: 0, $bottom: 0);
        outline: none;
        pointer-events: none;

        &:after {
            content: '\f002';
            font-size: rem(16px);
            color: var(--main-color);
            @extend .fontawesomeSolid;
        }
    }

    .select-input {
        width: 100%;
        height: 100%;
        position: relative;

        >input {
            @include mar-pad(pl 17, pr 40);
            cursor: pointer;

            &:focus+.icon {
                background-color: rgba(var(--RGB-main-color), .2);
            }
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: $height-default;
            @include position(absolute, $top: 0, $right: 0, $bottom: 0);
            outline: none;
            transition: background-color .25s;

            &:after {
                content: '\f107';
                font-size: rem(16px);
                color: var(--main-color);
                @extend .fontawesomeSolid;
            }
        }

        &:hover>.icon {
            background-color: rgba(var(--RGB-main-color), .2);
        }

        &.open+.select-items {
            height: auto;
            animation-name: fadeInUp;
            pointer-events: auto;
            overflow: visible;

            &.top {
                animation-name: fadeInDown;
            }
        }
    }

    .datepicker-input {
        width: 100%;
        height: 100%;
        position: relative;

        >input {
            @include mar-pad(pl 17, pr 40);
            cursor: pointer;
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: $height-default;
            @include position(absolute, $top: 0, $right: 0, $bottom: 0);
            outline: none;
            transition: background-color .25s;
            pointer-events: none;

            &:after {
                content: '\f073';
                font-size: rem(16px);
                color: var(--main-color);
                @extend .fontawesomeSolid;
            }
        }
    }

    &.quantity {
        >input {
            @include mar-pad(pl 40, pr 40);
            text-align: center;
        }

        >a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 38px;
            font-size: rem(18.7px);
            color: var(--main-color);

            &.plus {
                @include position(absolute, $top: 1px, $right: 0, $bottom: 0);
                @include border('l', 1px solid var(--border-color));
            }

            &.minus {
                @include position(absolute, $top: 1px, $bottom: 0, $left: 0);
                @include border('r', 1px solid var(--border-color));
            }
        }
    }
}

.select-items {
    @include position(absolute, $top: calc(100% + 13px), $right: 0, $left: 0);
    @include mar-pad(pt 8);
    height: 0;
    overflow: hidden;
    opacity: 0;
    z-index: map-get($z-index, select);
    pointer-events: none;
    animation-duration: .4s;
    animation-fill-mode: both;

    @include arrow-creat(14px, 9px, 'top', var(--border-color), var(--content-bg-color), $left: 10px);

    &.top {
        top: auto;
        bottom: calc(100% + 13px);
        @include mar-pad(pb 8);

        @include arrow-creat(14px, 9px, 'bot', var(--border-color), var(--content-bg-color), $left: 10px);
    }

    >ul {
        max-height: 160px;
        background-color: var(--content-bg-color);
        @include border('', 1px solid var(--border-color));
        border-radius: 5px;
        @include overflow(auto, y);
        @include box-shadow(2px 2.2px 15px 0 var(--box-shadow));


        li>a {
            display: flex;
            align-items: center;
            width: 100%;
            min-height: $height-default;
            @include mar-pad(pl 20, pr 20);
            font-size: rem(14px);
            font-weight: 400;
            color: var(--text-color1);
            cursor: pointer;

            &:hover,
            &:focus {
                outline: none;
                background-color: var(--main-color);
            }
        }
    }
}

.wim-datepicker {
    display: none;
    @include position(absolute, $top: auto, $right: auto, $left: 0);
    width: auto;
    min-width: 494px;
    height: 0;
    opacity: 0;
    z-index: map-get($z-index, datepicker);
    pointer-events: none;
    animation-duration: .4s;
    animation-fill-mode: both;

    @include arrow-creat(14px, 9px, 'top', var(--border-color), var(--content-bg-color), $left: 10px);

    &.right {
        left: auto;
        right: 0;
        
        @include arrow-creat(14px, 9px, 'top', var(--border-color), var(--content-bg-color), $right: 10px);
    }

    &.show {
        display: block;
        height: auto;
        @include mar-pad(pt 8, mt 8);
        animation-name: fadeInUp;
        pointer-events: auto;
    }

    &.single {
        min-width: auto;
    }

    &.month {
        min-width: auto;

        .calendars .calendar {
            max-width: 170px;
            
            &>.calendar-table > table > thead .input-box {
                max-width: 100%;
            }
        }
    }

    .calendars {
        display: flex;
        width: 100%;
        @include border('', 1px solid var(--border-color));
        border-radius: 5px;
        background-color: var(--content-bg-color);
        @include box-shadow(2px 2.2px 15px 0 var(--box-shadow));

        .calendar {
            max-width: 242px;
            width: 242px;

            &.left {
                @include mar-pad(pt 9, pb 9, pl 9);

                .calendar-table {
                    @include mar-pad(pr 9);
                }
            }

            &.right {
                @include mar-pad(pt 9, pb 9, pr 9);

                .calendar-table {
                    @include mar-pad(pl 9);
                }
            }

            >.calendar-table>table {
                width: 100%;

                >thead {

                    th.prev i,
                    th.next i {
                        color: var(--main-color);
                    }

                    .input-box {
                        max-width: 50%;
                        height: 32px;

                        >.select-input {
                            >input {
                                border: none;
                                font-size: rem(12px);
                                color: var(--main-color);
                                @include mar-pad(pl 10, pr 32);
                                text-align: center;
                                cursor: pointer;
                            }

                            >.icon {
                                width: 32px;
                                height: 32px;
                            }
                        }

                        .select-items>ul li>a {
                            min-height: 32px;
                            font-size: rem(12px);
                            @include mar-pad(p 0);
                            justify-content: center;
                        }
                    }
                }

                >tbody>th {
                    font-weight: 700;
                }

                th,
                td {
                    white-space: nowrap;
                    text-align: center;
                    vertical-align: middle;
                    min-width: 32px;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    font-size: rem(14px);
                    font-weight: 400;
                    color: inherit;
                    border: none;
                    padding: 0;
                    background: transparent;
                    border-radius: 3px;
                    cursor: pointer;
                }

                td {

                    &.prev-month,
                    &.next-month {
                        color: var(--gray-color);
                    }

                    &.start-date,
                    &.end-date,
                    &.active-date {
                        font-weight: 700;
                        background-color: var(--main-color);
                    }

                    &.start-date {
                        border-radius: 3px 0 0 3px;
                    }

                    &.end-date {
                        border-radius: 0 3px 3px 0;
                    }

                    &.in-range {
                        font-weight: 700;
                        background-color: rgba(var(--RGB-main-color), .6);
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

.text-area {
    width: 100%;
    max-width: 280px;
    height: 80px;
    border-radius: 4px;
    position: relative;

    textarea {
        font-size: rem(15px);
        font-weight: 400;
        color: var(--text-color1);
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: var(--content-bg-color);
        @include border('', 1px solid var(--border-color));
        outline: none;
        @include mar-pad(pl 17, pr 17, pt 13, pb 13);
        resize: none;

        &:focus {
            border-color: var(--main-color);
        }

        &:placeholder {
            color: var(--gray-color);
        }
    }

    &.pull {
        max-width: 100%;
    }
}

.tb-container:not(.left-th)>table {
    .input-box {
        height: $height-table;

        input {
            font-size: rem(12px);
        }

        &.search .icon {
            height: $height-table;
        }

        .select-input .icon {
            height: $height-table;
        }

        &.quantity>a {
            height: 34px;
        }
    }

    .select-items>ul {
        max-height: 144px;

        >li>a {
            min-height: $height-table;
        }
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 10px, 0)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -10px, 0)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(0, 10px, 0)
    }
}