@charset "utf-8";

.item-list {
    height: 410px;
    overflow-y: auto;

    ul>li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 83px;
        @include border('', 1px solid var(--border-color));
        text-align: center;
        cursor: pointer;

        table {
            width: 100%;

            th {
                height: 40px;
                font-size: rem(12px);
                font-weight: 700;
                color: var(--text-color3);
                background-color: var(--table-th-color);
                @include mar-pad(pl 26);
                text-align: left;
            }

            td {
                font-size: rem(12px);
                color: var(--text-color1);
                text-align: left;
                @include mar-pad(pl 24, pr 24);

                &.img-td {
                    @include mar-pad(p 0);
                    height: 80px;
                    text-align: center;

                    img {
                        width: auto;
                        max-height: 100%;
                    }
                }
            }

            tr:first-child>th,
            tr:first-child>td {
                @include border('b', 1px solid var(--border-color));
            }
        }

        &.select {
            @include border('', 1px solid var(--main-color));

            th {
                background-color: var(--item-selected-th);
            }

            td {
                background-color: var(--item-selected-td);
            }
        }
    }
}