@charset "utf-8";

.order-list {
    height: 600px;
    @include overflow(auto, y);

    ul>li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-height: 48px;
        @include pad(p 15, pl 24, pr 24);
        @include border('', 1px solid var(--table-th-color), none, 1px solid var(--table-th-color));
        font-size: rem(12px);
        color: var(--text-color1);
        cursor: pointer;

        &.selected {
            background-color: var(--main-color);
        }
    }
}