@charset "UTF-8";

$pagewidth: 21cm;
$pageHeight: 29.7cm;
$pageMar: 0.5cm;
$labelwidth: 6.6cm;
$labelHeight: 2.8cm;

#print-area {
    display: none;
    width: ($pagewidth - ($pageMar * 4)) - 1px;
    min-height: ($pageHeight - ($pageMar * 2)) - 1px;
    margin: 0 auto;
    background: #fff;
    position: relative;

    &.label {
        width: ($labelwidth - 0.2cm) - 1px;
        min-height: ($labelHeight - 0.2cm) - 1px;

        & > .page {
            width: $labelwidth !important;
        }
    }

    .page {
        width: ($pagewidth - ($pageMar * 4)) - 1px;
        height: 100%;
        margin: 0 auto;
    }

    .title-box {
        display: block;
        position: relative;
        width: 100%;
        min-height: auto;
        margin-bottom: 20px;
    }

    .main-title {
        font-size: 20pt;
        color: #000;
        text-align: center;
        padding: 23px 0;
    }

    .sub-title {
        font-size: 14pt;
        color: #000;
    }

    .barcode-img {
        position: absolute;
        top: 10px;
        right: 0;
        width: 25%;
        padding: 0 10px;
        border: 1px solid #333;

        img {
            width: 100%;
            max-width: 100%;
        }

        p {
            font-size: 8pt;
            line-height: 1;
            color: #000;
            margin-top: 3px;
        }
    }

    .img-box {
        width: 100%;

        p {
            font-size: 8pt;
            line-height: 1;
            color: #000;
            margin-top: 3px;
        }
    }

    img,
    svg {
        width: 100%;
        max-width: 100%;
    }

    .tb-container {
        background-color: #fff;
        margin-bottom: 30px;

        table {
            page-break-inside: auto;

            tr {
                page-break-inside: avoid;
                page-break-after: auto;
            }

            th,
            td {
                font-size: 8pt;
                height: 35px;
                padding: 5px 8px;
                text-align: center;
            }

            th {
                color: #fff;
                background: #8d999c;
                border: 1px solid #666;
            }

            td {
                color: #000;
                border: 1px solid #999;
            }
        }
    }
}

@page {
    size: auto;
    margin: $pageMar ($pageMar * 2);
}

@media print {
    body,
    .page {
        overflow: hidden;
    }

    // html,
    // body {
    //     width: $pagewidth;
    //     height: $pageHeight;
    // }

    body {
        -webkit-print-color-adjust: exact;
    }

    .page {
        page-break-after: always;
    }

    #wrap {
        background-color: #fff;

        #container {
            padding: 0 !important;
            margin: 0 !important;
        }

        > aside,
        .top-container,
        .contents * {
            display: none;
        }

        .top-container,
        .contents {
            padding: 0 !important;
        }

        .contents {
            height: auto !important;
            overflow-y: visible !important;
        }

        form {
            display: block !important;
        }

        #print-area {
            display: block !important;

            * {
                display: block !important;
            }

            table {
                display: table !important;

                colgroup {
                    display: table-column-group !important;

                    col {
                        display: table-column !important;
                    }
                }

                thead {
                    display: table-header-group !important;

                    tr {
                        display: table-row !important;

                        th,
                        td {
                            display: table-cell !important;
                        }
                    }
                }

                tbody {
                    display: table-row-group !important;

                    tr {
                        display: table-row !important;

                        th,
                        td {
                            display: table-cell !important;
                        }
                    }
                }
            }
        }
    }
}
