@charset "utf-8";

.tab-menu {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-color);

    button {
        width: 140px;
        height: 48px;
        border-radius: 5px 5px 0 0;
        font-size: rem(15px);
        font-weight: 700;
        color: var(--text-color1);
        background-color: var(--gray-color);
        transition: background-color .3s ease;

        &:not(:last-child) {
            margin-right: 8px;
        }

        &:hover,
        &.active {
            background-color: var(--main-color);
        }
    }
}
