@charset "UTF-8";

$lineSize : size(1, 10);

@mixin ellipsis($lineSize : ()) {
    @each $line in $lineSize {
        div.ell-#{$line} {
            @include textOverflow($line);
        }
    }
}

.tb-container {
    width: 100%;
    background-color: var(--content-bg-color);
    transition: all .25s;

    >table {
        width: 100%;
        table-layout: fixed;
        text-align: center;

        tr {
            transition: all .25s;

            &.bg>td {
                background-color: rgba(var(--RGB-violet-color), .35);
            }

            &.complete {
                background-color: rgba(var(--RGB-complete-color), .15);
            }

            &.total {
                background-color: var(--total-color);
            }

            &.select {
                background-color: rgba(var(--RGB-main-color), .3);
            }

            th {
                font-size: rem(12px);
                font-weight: 700;
                color: var(--text-color3);
                height: 40px;
                @include border('l', 1px solid var(--border-color));
                background-color: var(--table-th-color);
                @include pad(pt 8, pb 8);
                transition: all .25s;

                &.bb {
                    @include border('b', 1px solid var(--border-color) !important);
                }

                &.bt {
                    @include border('t', 1px solid var(--border-color) !important);
                }

                &.br {
                    @include border('r', 1px solid var(--border-color) !important);
                }

                &.bl {
                    @include border('l', 1px solid var(--border-color) !important);
                }

                &.required {
                    &:after {
                        content: '*';
                        display: inline-block;
                        color: var(--red-color);
                    }
                }

                .info-text {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    font-size: rem(10px);
                    font-weight: 400;
                    color: var(--text-color3);
                }
            }

            td {
                font-size: rem(12px);
                font-weight: 400;
                color: var(--text-color1);
                height: 48px;
                @include border('', 1px solid var(--table-th-color));
                border-top: none;
                @include pad(p 8);
                word-break: keep-all;
                transition: all .25s;

                &.img-td {
                    @include pad(pt 0, pb 0);
                    height: 80px;

                    img {
                        width: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                &.states-box {
                    @include pad(p 0);

                    &.enough {
                        // 만족
                        background-color: var(--green-color);
                    }

                    &.shortage {
                        // 부족
                        background-color: var(--red-color);
                    }

                    &.slated {
                        // 입고 예정
                        background-color: var(--slated-color);
                    }

                    &.confirmation {
                        // 확정
                        background-color: var(--confirmation-color);
                    }

                    &.undecided {
                        // 미확정
                        background-color: var(--undecided-color);
                    }
                }

                &.bb {
                    @include border('b', 1px solid var(--table-th-color) !important);
                }

                &.bt {
                    @include border('t', 1px solid var(--table-th-color) !important);
                }

                &.br {
                    @include border('r', 1px solid var(--table-th-color) !important);
                }

                &.bl {
                    @include border('l', 1px solid var(--table-th-color) !important);
                }

                div.cell {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 48px;
                    padding: 8px;
                }

                @include ellipsis($lineSize);
            }

            &.sticky th {
                position: sticky;
                top: 0;
                border-top: 1px solid #71757a;
                z-index: map-get($z-index , sticky-th );
            }

            &.sticky2 th {
                position: sticky;
                top: 40px;
                z-index: map-get($z-index , sticky-th );
            }
        }

        thead>tr>th:first-child,
        tbody>tr>th:first-child {
            border: none;
        }

        tbody {
            tr {
                td:first-child {
                    border-left: none;
                }

                td:last-child {
                    border-right: none;
                }
            }
        }
    }

    &.left-th>table>tbody {
        >tr {
            >th {
                @include border('', 1px solid var(--border-color), none, 1px solid var(--border-color));
                @include pad(pt 14, pb 14, pr 24, pl 24);
                border-left: none;
                text-align: left;

                &.required {
                    >p:after {
                        content: '*';
                        display: inline-block;
                        color: var(--red-color);
                    }
                }

                &.required-text {
                    >p:after {
                        content: '*';
                        display: inline-block;
                        color: var(--red-color);
                    }

                    +td {
                        color: var(--red-color);
                    }
                }
            }

            >td {
                @include pad(pt 14, pb 14, pr 24, pl 24);
                @include border('b', 1px solid var(--table-th-color));
                font-size: rem(15px);
                text-align: left;
                
                >img {
                    width: 100%;
                }

                >a {
                    color: var(--main-color);
                    text-decoration: underline;
                }
            }

            &:last-child {
                >th,
                >td {
                    border-bottom: none;
                }
            }

            &:first-child {
                >th,
                >td {
                    border-top: none;
                }
            }
        }
    }

    &.over_scroll table,
    &.over_auto table,
    &.over_x table,
    &.over_x_auto table,
    &.over_y table,
    &.over_y_auto table {
        border-collapse: separate;

        td {
            border-right: none;
        }
    }
}


