@charset "utf-8";

.title-box {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40px;

    .require-text {
        font-size: rem(12px);
        font-weight: 400;
        line-height: 1;
        color: var(--red-color);
        margin-left: 5px;
    }
}

.main-title {
    font-size: rem(20px);
    font-weight: 500;
    line-height: 1;
    color: var(--text-color1);
}

.modal-title {
    font-size: rem(18px);
    font-weight: 500;
    line-height: 1;
    color: var(--text-color1);
}

.sub-title {
    font-size: rem(15px);
    font-weight: 500;
    line-height: 1;
    color: var(--text-color1);
}

.input-title {
    font-size: rem(12px);
    font-weight: 700;
    line-height: 1;
    color: var(--text-color3);

    &.required {
        &:after {
            content: '*';
            display: inline-block;
            color: var(--red-color);
        }
    }
}

.sub-text {
    font-size: rem(14px);
    font-weight: 500;
    line-height: 1;
    color: var(--text-color1);
}

.sch-box {
    display: flex;
    align-items: center;
}
