@charset "UTF-8";

#container {
    display: flex;
    flex-direction: column;
    flex: 1;
    @include pad(pl 30);
    background-color: var(--bg-color);
    transition: all .25s;

    .top-container,
    .contents {
        @include pad(pr 30);
    }

    .contents.hide-cate-navi {
        padding-top: 43px;
    }

    p.cate-nav {
        align-self: flex-end;
        font-size: rem(12px);
        color: var(--text-color3);
        line-height: 1;
        transition: all .25s;

        i {
            @include mar(ml 8, mr 8);
        }

        strong {
            color: var(--text-color2);
            transition: all .25s;
        }
    }
}

#wrap.posTop #container {
    margin-left: 0;
    padding-left: 0;
    width: 100%;

    .contents {
        padding-left: 30px;
    }
}
