@charset "UTF-8";

#sideNav {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--content-bg-color);
    transition: all .25s;
    z-index: 1;

    .logo {
        height: 55px;
        @include mar(ml 24);
        @include pad(pt 17, pr 60, pb 22);

        img {
            width: 100%;
        }
    }

    .side-btn {
        @include position(absolute, 14px, 21px);

        i {
            font-size: rem(24px);
            color: var(--gray-color);
            line-height: 1;
        }
    }

    #nav {
        height: calc(100% - 55px);
        @include overflow(auto, y);

        >ul>li {
            >a {
                height: 50px;
                @include pad(pl 24, pr 20);

                >i {
                    width: rem(16px);
                    @include mar(mr 10);
                }
            }
        }
    }
}

#wrap.reduce #sideNav {
    width: 60px;

    .logo {
        display: none;
    }

    .side-btn {
        position: initial;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 55px;
    }

    #nav {
        overflow: initial;
        >ul>li {
            >a {
                font-size: 0;
                padding: 0;
                justify-content: center;
                >i {
                    font-size: rem(15px);
                    margin-right: 0;
                }

                &.on+.sub-nav {

                    &::after {
                        @include border('', 6px solid transparent, 7px solid var(--main-color), 6px solid transparent, none);
                    }

                    ul::before {
                        color: var(--text-color1) !important;
                        background-color: var(--main-color);
                    }
                }
            }

            &.depth1 {
                position: relative;

                a:after {
                    content:'';
                    display: none;
                }

                >.sub-nav {
                    position: absolute;
                    top: 7px;
                    left: calc(100% + 14px);
                    width: 200px;
                    background-color: var(--content-bg-color);
                    border: 1px solid var(--border-color);
                    box-shadow: 2px 2.2px 15px 0 var(--box-shadow);
                    border-radius: 5px;
                    overflow: initial;
                    transform: scaleY(0);

                    &::before {
                        content: '';
                        @include position(absolute, $top: 10px, $left: -8px);
                        display: block;
                        @include border('', 7px solid transparent, 8px solid var(--border-color), 7px solid transparent, none);
                    }

                    &::after {
                        content: '';
                        @include position(absolute, $top: 11px, $left: -7px);
                        display: block;
                        @include border('', 6px solid transparent, 7px solid var(--content-bg-color), 6px solid transparent, none);
                    }

                    >ul {
                        max-height: 320px;
                        overflow-y: auto;

                        &::before {
                            content: attr(data-title);
                            display: flex;
                            align-items: center;
                            height: 40px;
                            font-size: rem(15px);
                            padding-left: 20px;
                        }
                    }

                    &.show {
                        transform: scaleY(1);
                        transform-origin: top;
                        transition: transform .25s;
                    }

                    li>a {
                        height: 40px;
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}
